body,h1,h2,h3,h4,h5,ul,li,ol{
    margin: 0px;
    padding: 0px;
}
.demo1{
    width:400px;
    height:400px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-200px;
    border-radius:50% ;
    background:url("../images/IMG_1284.JPG");
    background-size: 400px 500px;
}